// .catalog {}

.catalog__title {
  margin-bottom: 30px;
}

.catalog__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.catalog__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}
