.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 2 * #{$container-padding});
  padding: 26px;
  border-bottom: $border-width solid $border-footer-color;
}

.socials__item {
  &:not(:last-child) {
    margin-right: 42px;
  }
}

.socials__link {
  display: block;
  background-repeat: no-repeat;

  &--instagram {
    width: 22px;
    height: 21px;
    background-image: url("../img/icons/instagram.svg");
  }

  &--facebook {
    width: 15px;
    height: 28px;
    background-image: url("../img/icons/facebook.svg");
  }

  &--twitter {
    width: 23px;
    height: 20px;
    background-image: url("../img/icons/twitter.svg");
  }
}
