// page container padding
$container-padding: 30px;

// backgrounds colors
$bg-primary-color: #ffffff;
$bg-secondary-color: #f1f1f1;
$bg-hero-color: #fafafa;

// text colors
$text-primary-color: #000000;
$text-secondary-color: #444444;

// decor colors
$decor-primary-color: #63d1bb;
$decor-secondary-color: #56c3b2;
$decor-accent-color: #149080;

// border colors
$border-color: #ececec;
$border-legend-color: #62d1ba;
$border-footer-color: #e5e5e5;

// border width
$border-width: 1px;
$border-input-width: 2px;

// z-indexes
$z-base: 0;
$z-navigation-menu: 10;
$z-top-elements: 20;
